<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>112960083706-5g9fbrhfbh1jlhcdage5s4u6utk23b8f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.112960083706-5g9fbrhfbh1jlhcdage5s4u6utk23b8f</string>
	<key>API_KEY</key>
	<string>AIzaSyCUgtHEUY8y7STndjbNlJ30Szypy9HUzm0</string>
	<key>GCM_SENDER_ID</key>
	<string>112960083706</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.orderly</string>
	<key>PROJECT_ID</key>
	<string>orderly-d4db0</string>
	<key>STORAGE_BUCKET</key>
	<string>orderly-d4db0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:112960083706:ios:9d427351d873ec1980db43</string>
</dict>
</plist>